<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd" >
       
	<!-- spring自已提供的用来注册属性编译器 -->
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		
		<property name="customEditors">
     		<map>
     			<entry key="com.pegasus.springioc.domain.Address" value="com.pegasus.springioc.domain.AddressPropertyEditor" />
     			<entry key="java.util.Date" value="com.pegasus.springioc.domain.DatePropertyEditor" />
     			<entry key="java.time.LocalDate" value="com.pegasus.springioc.domain.LocalDatePropertyEditor" />
     			
     		</map>
     	</property>
	</bean>
	
	<!--spring自已提供的属性编译器 19种类型可直接从properites文件中读取格式："${}"  -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
		<!-- 1单个properties配置文件的注入 -->
		<!-- <property name="location" value="classpath:./spring_ioc/user.properties" /> -->
		
		<!-- 1多个properties配置文件的注入 -->
		<property name="locations">
			<array>
				<value>classpath:./spring_ioc/all.txt</value>
				
			</array>
		</property>
	</bean>
	
	<bean id="myBean" class="com.pegasus.springioc.domain.MyBean" >
		<!-- <property name="code" value="${code}" />
		<property name="name" value="${name}" />
		<property name="cretime" value="${cretime}" />
		<property name="address" value="${address}" /> -->
		
	</bean>
</beans>